header
  height: 100px
  background: #0c1c2d
  display: flex
  justify-content: space-around



.link
  color: #e7d79f
  width: 50%
  height: 100px
  display: flex
  justify-content: center
  align-items: center
  text-decoration: none
  transition: .3s

  &:hover
    color: #e7d79f
    transition: .3s
    background: #334b62

